<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
     <link rel="icon" href="/pics/weather.png">
    <title>About</title>
</head>

<body>
    <div class='main-content'>
   {{>header}}
    <div id='pictureAbout'></div>

    </div>

    {{!-- <p>Created by {{name}}</p> --}}

    {{>footer}}
</body>

</html>